<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Category view template
 *
 * @var $block Learning\CategoryImageResizer\Block\Category\View
 */

/** @var $viewModel \Learning\CategoryImageResizer\ViewModel\CatalogViewModel */
$viewModel = $block->getViewModel();
?>
<?php
$_helper    = $this->helper(Magento\Catalog\Helper\Output::class);
$_category  = $block->getCurrentCategory();
$_imgHtml   = '';
if ($_imgUrl = $_category->getImageUrl()) {
    $_imgHtml = '<div class="category-image"><img src="'
        . $block->escapeUrl($viewModel->resizeImage($_imgUrl))
        . '" alt="'
        . $block->escapeHtmlAttr($_category->getName())
        . '" title="'
        . $block->escapeHtmlAttr($_category->getName())
        . '" class="image" /></div>';
    $_imgHtml = $_helper->categoryAttribute($_category, $_imgHtml, 'image');
    /* @noEscape */ echo $_imgHtml;
}
?>
