<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Learning\ModuleNotice\Block\NoticeBlock
 */
?>

<div class="message global demo">
    <div class="content">
        <p><?= $block->escapeHtml(__($block->getDisplayText())) ?></p>
    </div>
</div>

