//  Navigation
//  ---------------------------------------------
@navigation__background: #458b00;

//  Links
@link__color: #c19a6b;

//page header
.page-header .panel.wrapper {
  background-color: #3b2f2f;
  color: #fff;
}

