<?php

/** @var $viewModel \Learning\ModuleSlider\ViewModel\SliderViewModel */
$viewModel = $block->getViewModel();
?>

<?php if ($viewModel->displayStatus()): ?>
    <div class="carousel-wrap">
        <h2>Custom owl slider</h2>
        <div class="owl-carousel">
            <?= $this->getLayout()
                ->createBlock('Magento\Cms\Block\Block')
                ->setBlockId('owl-carousel-structure')
                ->toHtml() ?>
        </div>
    </div>
<?php endif; ?>
