<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Store\Block\Switcher $block */
$viewModel = $block->getData('view_model');
?>

<?php $websites = $viewModel->getWebsites(); ?>
<?php $id = $block->getIdModifier() ? '-' . $block->getIdModifier() : '' ?>
<div class="switcher language switcher-language" data-ui-id="language-switcher"
     id="switcher-language<?= $block->escapeHtmlAttr($id) ?>">
    <strong class="label switcher-label"><span><?= $block->escapeHtml(__('Language')) ?></span></strong>
    <div class="actions dropdown options switcher-options">
        <div class="action toggle switcher-trigger"
             id="switcher-language-trigger<?= $block->escapeHtmlAttr($id) ?>"
             data-mage-init='{"dropdown":{}}'
             data-toggle="dropdown"
             data-trigger-keypress-button="true">
            <strong class="view-<?= $block->escapeHtml($block->getCurrentStoreCode()) ?>">
                <span><?= $block->escapeHtml($block->getStoreName()) ?></span>
            </strong>
        </div>
        <ul class="dropdown switcher-dropdown"
            data-target="dropdown">
            <?php foreach ($websites as $website): ?>
                <?php /** @var \Magento\Store\Model\Store $_store */ ?>
                <?php foreach ($website->getStoreCollection() as $_store): ?>
                    <?php if ($_store->getId() != $block->getCurrentStoreId() && $_store->isActive()): ?>
                        <li class="view-<?php echo $block->escapeHtml($_store->getCode()); ?> switcher-option"
                            data-storelanguage="<?php echo $block->escapeHtml($_store->getCode()) ?>">
                            <a href="#" data-post='<?php echo $block->getTargetStorePostData($_store); ?>'>
                                <?= $block->escapeHtml($viewModel->getStoreSwitchLabel($_store)) ?>
                            </a>
                        </li>
                    <?php endif; ?>
                <?php endforeach; ?>
            <?php endforeach; ?>
        </ul>
    </div>
</div>

